<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team.shop.mapper.TestMapper">

    <select id="getTestBeanById" resultType="com.team.shop.bean.User">
      SELECT id,user_name userName FROM `user` WHERE id = #{id}
    </select>


    <insert id="addTestBean">
        INSERT INTO `user`(user_name) VALUES (#{name})
    </insert>


    <delete id="deleteTestBeanById">
        DELETE FROM `user` WHERE id = #{id}
    </delete>


    <update id="updateTestBeanById">
        UPDATE `user` SET user_name=#{name} WHERE id = #{id}
    </update>
</mapper>